@mixin ul {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

@mixin image {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
@mixin transition {
  transition: 0.3s linear;
}
@mixin transitionIn {
  transition: 0.3s ease-in;
}
@mixin transitionOut {
  transition: 0.3s ease-out;
}

@mixin flexer($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin lineClamp($line) {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin border-radius {
  border-radius: 8px;
}
@mixin card {
  .card {
    &,
    a {
      color: var(--black);
      text-decoration: none;
    }
    .card__img {
      @include image;
      position: relative;
      .tag {
        position: absolute;
        top: 1em;
        right: 1em;
      }
    }
    .card__title {
      font-size: 1em;
      &:hover {
        color: var(--primary);
      }
    }
    .price {
      font-size: 1.3em;
      margin-bottom: 0.3em;
      color: var(--primary);
    }
    .card__action {
      display: flex;
      justify-content: space-between;
    }
    .progress {
      height: 3px;
      margin-bottom: 1.5em;
      .progress-bar {
        background-color: var(--primary);
      }
    }
  }
}
@mixin box-shadow {
  box-shadow: 0 0.3125rem 1rem -0.1875rem rgba(0, 0, 0, 0.2);
}

@mixin nav-tabs {
  .nav {
    position: relative;
    .nav-item {
      width: 25%;
      text-align: center;
      .nav-link {
        color: var(--black);
        opacity: 0.6;
        width: 100%;
        font-size: 1.5em;
        padding: 0.8em 0;
        @include transition;
        &.active,
        &:hover {
          opacity: 1;
        }
      }
    }
    .indicator {
      position: absolute;
      bottom: 0;
      height: 2px;
      background-color: var(--white--grey);
      width: 100%;
      left: 0;
      div {
        background-color: var(--primary);
        height: 100%;
        width: 0;
        @include transition;
      }
    }
  }
}
