header {
  .navbar {
    width: 100%;
    @include md {
      padding-bottom: 1.2em;
    }
  }
  .navbar-nav {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    @include md {
      flex-wrap: wrap;
    }
    .nav-link {
      color: var(--black);
      span {
        padding-left: 0.6em;
        @include md {
          display: none;
        }
      }
      i {
        font-size: 1.4em;
        vertical-align: middle;
      }
      padding: 1em;
      @include md {
        padding: 0.2em 0em;
      }
      @include sm {
        padding: 0;
      }
    }
  }

  .search-form {
    margin-right: auto;
    @include md {
      width: 100%;
    }
    i {
      position: absolute;
      top: 50%;
      left: 0.8em;
      transform: translateY(-50%);
    }
    .form-wrapper {
      position: relative;
      .form-control {
        text-indent: 1.4em;
        width: 500px;
        max-width: 100%;
        @include xl {
          width: 320px;
        }
        @include md {
          width: 100%;
        }
      }
    }
    @include ul;
    .search--drop {
      background-color: var(--white);
      @include box-shadow;
      border-radius: 0 0 6px 6px;
      padding: 0.6em 0;
      position: absolute;
      width: 100%;
      z-index: 1000;
      .link {
        padding: 0.3em 2em;
        display: block;
        &:hover {
          background-color: var(--white--grey);
          color: var(--primary);
        }
      }
    }
  }
  .hamburger {
    display: none;
    @include xl {
      display: block;
    }
    .nav-link i {
      @include md {
        font-size: 2em;
      }
    }
  }
  .mb--nav {
    display: flex;
    @include md {
      position: fixed;
      width: 100%;
      left: 0;
      bottom: 0;
      z-index: 9;
      background-color: var(--white);
      border-radius: 5px 5px 0 0;
      @include box-shadow;
      justify-content: space-around;
    }
    .home {
      display: none;
      @include md {
        display: block;
      }
    }
    .nav-item {
      .nav-link {
        @include md {
          height: 50px;
          width: 50px;
          text-align: center;
          line-height: 50px;
        }
      }
    }
  }
}
.brand {
  margin-right: auto;
  .nav-link {
    font-size: 1.8em;
    padding: 0;
    font-weight: bold;
    color: var(--black);
    @include sm {
      font-size: 1em;
    }
  }
}
