nav.primary-nav {
  background-color: var(--white);
  border: 1px solid var(--white--grey);
  top: 0;
  z-index: 999;
  position: sticky;
  border-left: 0;
  border-right: 0;
  @include xl {
    position: fixed;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    background-color: #0000001f;
    width: 100%;
    top: 0;
    z-index: 99;
    visibility: hidden;
    pointer-events: none;
  }
  &.active {
    @include xl {
      visibility: visible;
      pointer-events: auto;
    }
    .navbar-nav {
      transform: translateX(0);
    }
  }
  .wrapper {
    @include xl {
      width: 100%;
      height: 100%;
    }
  }
  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    @include xl {
      flex-direction: column;
      width: 290px;
      background-color: var(--white);
      min-height: 100%;
      justify-content: flex-start;
      position: relative;
      z-index: 1;
      transform: translateX(-100%);
      @include transition;
    }
    .nav-link {
      color: var(--black);
      padding: 1em;
    }
  }
  .dropdown-menu {
    @include sm {
      background-color: var(--white--grey);
    }
    .dropend:hover,
    .dropstart:hover {
      .dropdown-toggle {
        background-color: #e9ecef;
      }
      color: var(--black);
      & > .submenu.dropdown-menu {
        display: block;
      }
    }
    .submenu {
      display: none;
      position: absolute !important;
      left: calc(100% + 1px);
      top: -1px;
      height: 100%;
    }
    .dropstart {
      .submenu {
        left: auto;
        right: calc(100% + 1px);
      }
    }
    .dropdown,
    .dropend,
    .dropstart,
    .dropup {
      position: static;
    }
    @include xl {
      position: relative !important;
      transform: none !important;
    }
  }
  .backdrop {
    display: none;
    @include xl {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
  .dropdown.nav-item {
    &:hover {
      & > .dropdown-menu {
        @include customMin(800px) {
          position: absolute;
          inset: 0px auto auto 0px;
          margin: 0px;
          transform: translate3d(0px, 54px, 0px);
          display: block !important;
        }
      }
    }
  }
}
