nav.primary-nav {
  background-color: var(--white);
  border: 1px solid var(--white--grey);
  top: 0;
  z-index: 999;
  position: sticky;
  border-left: 0;
  border-right: 0;
  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    .nav-link {
      color: var(--black);
      padding: 1em;
    }
  }
  .dropdown-menu {
    .dropend:hover,
    .dropstart:hover {
      .dropdown-toggle {
        background-color: #e9ecef;
      }
      color: var(--black);
      & > .submenu.dropdown-menu {
        display: block;
      }
    }
    .submenu {
      display: none;
      position: absolute;
      left: calc(100% + 1px);
      top: -1px;
      height: 100%;
    }
    .dropstart {
      .submenu {
        left: auto;
        right: calc(100% + 1px);
      }
    }
    .dropdown,
    .dropend,
    .dropstart,
    .dropup {
      position: static;
    }
  }
}
