.single-page {
  .slider-for {
    @include image;
    .image {
      height: 450px;
      @include sm {
        height: 280px;
      }
    }
    margin-bottom: 2em;
  }
  .slider-nav {
    @include image;
    margin-bottom: 2em;

    .image img {
      height: 60px;
      width: 105px;
    }
    .slick-current {
      img {
        border: 2px solid var(--black);
      }
    }
  }
  @include card;
  .sticky {
    margin-bottom: 25px;
    @include md {
      position: relative;
      top: 0;
    }
  }
  .card--main {
    padding: 2em;
    @include md {
      padding: 1em;
    }
    @include box-shadow;
    .card__body {
      font-size: 1.3em;
      @include sm {
        font-size: 0.9em;
      }
    }
    .card__action {
      margin-bottom: 1.5em;
      @include md {
        margin: 0;
        position: fixed;
        bottom: 0px;
        background-color: #fff;
        left: 0;
        width: 100%;
        z-index: 9;
        padding: 1em;
        @include box-shadow;
      }
      .common-button {
        flex-grow: 2;
        margin-right: 50px;
      }
    }
    .share {
      margin-bottom: 1em;
    }
  }
  .card--description {
    margin-bottom: 2em;
  }
  .comment--section {
    .card {
      background-color: var(--white--grey);
      padding: 1.7em;
      margin-bottom: 23px;

      .comments__top {
        opacity: 0.6;
        border-bottom: 1px solid var(--grey);
        margin-bottom: 1em;
        padding-bottom: 0.5em;
      }
      .comments__body {
        p.para {
          @include lineClamp(2);
        }
        &.active {
          p.para {
            -webkit-line-clamp: none;
            -webkit-line-clamp: initial;

          }
        }
      }
      a.link {
        opacity: 0.6;
      }
    }
  }
  .newarrivals {
    background-color: transparent;
    margin-top: 2em;
  }
  .wrapper > .row {
    @include md {
      flex-direction: column-reverse;
    }
  }
  .select {
    .form-group {
      width: auto;
    }
    input {
      height: 0;
      width: 0;
      opacity: 0;
      &:checked {
        & + .form-check-label {
          border-color: var(--black);
        }
      }
    }
    .form-check-label {
      height: 30px;
      width: 50px;
      border: 3px solid transparent;
      @include border-radius;
    }
  }
}
