{% extends 'layout/_layout.twig' %} {% block title %} Aranikomart- Home {%
  endblock %} {% block javascripts %} {% endblock %} {% block contents %}
  <main class="main about-page">
     <section class="screen bg--grey">
          <img class="img-fluid w-100 image--fluid" src="https://images.unsplash.com/photo-1558898452-e5c989f41b27?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" />
     </section>
     <section class="description text-center bg--grey">
          <div class="wrapper commonpadding">
               <h2 class="title--section">About us</h2>
               <p class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, nihil perspiciatis ab omnis minima ipsa laudantium dicta a molestias ducimus.</p>
          </div>
     </section>
     <section class="contact text-center">
          <div class="wrapper commonpadding">
               <div class="row">
                    <div class="col-6 col-md-4">
                         <div class="card">
                              <i class="bi bi-telephone-fill"></i>
                              <h2 class="title--small">Phone</h2>
                              <a href="tel:9825131071" class="link text-muted">9825131071</a>
                         </div>
                    </div>
                    <div class="col-6 col-md-4">
                         <div class="card">
                              <i class="bi bi-geo-fill"></i>
                              <h2 class="title--small">Address</h2>
                              <a href="#!" class="link text-muted">Balwatar kathmandu</a>
                         </div>
                    </div>
                    <div class="col-12 col-md-4">
                         <div class="card">
                              <i class="bi bi-envelope-fill"></i>
                              <h2 class="title--small">Mail</h2>
                              <a href="mailto:aaranikomart@gmail.com" class="link text-muted">aaranikomart@gmail.com</a>
                         </div>
                    </div>

               </div>
          </div>
     </section>
     <section class="description text-center bg--grey">
          <div class="wrapper commonpadding">
               <p class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, nihil perspiciatis ab omnis minima ipsa laudantium dicta a molestias ducimus.</p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque beatae itaque, sed tempora iure doloribus ipsam veritatis! Neque voluptatibus illum atque corporis assumenda porro repudiandae non perspiciatis odit optio ea iste velit, explicabo quisquam laborum aliquid rerum! Repudiandae officiis a quaerat dolorem eaque commodi consequuntur voluptatem esse non sint quibusdam deleniti tenetur sapiente, laborum saepe ab cumque ipsum molestiae possimus voluptas. Perferendis at omnis doloribus iusto nihil! Temporibus ea ratione totam! Nulla magni dolorem porro dignissimos quae, voluptatem laborum a nihil accusantium, rem odit quasi natus eius eaque similique fugiat quod molestias ullam error tempora hic iusto ut ducimus. Dolor commodi tenetur error maxime id modi adipisci perferendis officiis ipsa exercitationem incidunt in, ipsum rem praesentium ducimus consequatur? Obcaecati earum et voluptates assumenda sed quisquam architecto quos autem odio tempore numquam, laborum doloribus? Odio nemo deleniti nisi suscipit numquam labore, odit corporis eius quia necessitatibus quod temporibus laudantium nulla, ullam recusandae explicabo delectus. Consequuntur quo nobis illum culpa ipsam perferendis aliquam facere iusto aut numquam molestiae recusandae, error suscipit veniam nam modi aliquid provident impedit temporibus asperiores magnam ducimus praesentium nemo est. Illo quo dolor eius? Nostrum, harum ipsam error deserunt labore, magni illum officia, vero soluta itaque iure facilis.</p>
          </div>
     </section>
  </main>
</div>
{% endblock %}