{% extends 'layout/_layout.twig' %} {% block title %} Aranikomart- single-page {%
     endblock %} {% block javascripts %} {% endblock %} {% block contents %}
     <main class="main category-page">
          <div class="wrapper commonpadding">
               <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/" class="normal-link">Home</a></li>
                         <li class="breadcrumb-item active" aria-current="page">Dresses & link</li>
                    </ol>
               </nav>
               <div class="row">
                    <div class="col-lg-4 col-xl-3">
                         <div class="sticky">
                              <div class="card card--filter">
                                   <h2 class="title--md title">Filters <i class="bi bi-chevron-down"></i></h2>
                                   <hr />
                                   <div class="hide--mob">
                                   <article>
                                        <label for="sort">Sort By</label>
                                        <select class="form-select form-control" id="sort">
                                             <option selected>Best Match</option>
                                             <option value="1">Price Low to High</option>
                                             <option value="2">Price High to Low</option>
                                        </select>
                                   </article>
                                   <hr />
                                   <article>
                                        <label >Price</label>
                                        <div class="price--wrapper">
                                             <div class="price--left">
                                                  <label for="price--min">Min</label>
                                                  <input type="number" min="0" max="10000" class="form-control" placeholder="00" id="price--min" minlength="1" maxlength="6"/>
                                             </div>
                                             <div class="price--middle"></div>
                                             <div class="price--right">
                                                  <label for="price--max">Min</label>
                                                  <input type="number" min="100" max="10000" class="form-control" placeholder="0000" id="price--max" minlength="3" maxlength="6"/>
                                             </div>
                                             
                                        </div>
                                   </article>
                                   <hr />
                                   <article>
                                        <label >Related Brands</label>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="category-1">
                                             <label class="form-check-label" for="category-1">
                                                  Clothes
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="category-2">
                                             <label class="form-check-label" for="category-2">
                                                  Bags
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="category-3">
                                             <label class="form-check-label" for="category-3">
                                                  Accessories
                                             </label>
                                        </div>
                                        <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="category-4">
                                             <label class="form-check-label" for="category-4">
                                                  Shoes
                                             </label>
                                        </div>
                                   </article>
                                   <hr />
                                   <button class="common-button w-100">Apply</button>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-lg-8 col-xl-9">
                         <section class="product">
                              <h2 class="title--md">Dressers snd Looks</h2>
                              <hr/>
                              <div class="row">
                                   <article class="col-6 col-xl-4 ">
                                        <div class="card">
                                             <a href="./single-page.html" class="card__img">
                                                  <img src="../img/product01.png"/>
                                                  <label class="tag">45% 0ff</label>
                                                  <div class="card__action">
                                                       <button class="common-button">Order Now</button>
                                                       <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                                                  </div>
                                             </a>
                                             <div class="card__body">
                                                  <h2 class="card__title"><a href="./html/single-page.html">Women's black vest Gucci</a></h2>
                                                  <p class="price">NRS 375</p>
                                                  <p class="text-muted">last ordered 3m ago</p>
                                                  <div class="progress">
                                                       <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                                                  </div>
                                                  <p class="para"><b>250 ordered</b> of 300</p>
                                                  
                                             </div>
                                        </div>
                                   </article>
                                   <article class="col-6 col-xl-4 ">
                                        <div class="card">
                                             <a href="./single-page.html" class="card__img">
                                                  <img src="../img/product02.png"/>
                                                  <label class="tag">Popular</label>
                                                  <div class="card__action">
                                                       <button class="common-button">Order Now</button>
                                                       <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                                                  </div>
                                             </a>
                                             <div class="card__body">
                                                  <h2 class="card__title"><a href="./html/single-page.html">Red dress 
                                                       Valentino</a>
                                                  </h2>
                                                  <p class="price">NRS 1650</p>
                                                  <p class="text-muted">last ordered 30m ago</p>
                                                  <div class="progress">
                                                       <div class="progress-bar" role="progressbar" style="width: 25%"></div>
                                                  </div>
                                                  <p class="para"><b>25 ordered</b> of 100</p>
                                                  
                                             </div>
                                        </div>
                                   </article>
                                   <article class="col-6 col-xl-4 ">
                                        <div class="card">
                                             <a href="./single-page.html" class="card__img">
                                                  <img src="../img/product03.png"/>
                                                  <label class="tag">last 10 Left</label>
                                                  <div class="card__action">
                                                       <button class="common-button">Order Now</button>
                                                       <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                                                  </div>
                                             </a>
                                             <div class="card__body">
                                                  <h2 class="card__title"><a href="./html/single-page.html">Shiny dress Givenchy</a></h2>
                                                  <p class="price">NRS 750</p>
                                                  <p class="text-muted">last ordered 36m ago</p>
                                                  <div class="progress">
                                                       <div class="progress-bar" role="progressbar" style="width: 95%"></div>
                                                  </div>
                                                  <p class="para"><b>190 ordered</b> of 200</p>
                                                  
                                             </div>
                                        </div>
                                   </article>
                                   <article class="col-6 col-xl-4 ">
                                        <div class="card">
                                             <a href="./single-page.html" class="card__img">
                                                  <img src="../img/product01.png"/>
                                                  <label class="tag">45% 0ff</label>
                                                  <div class="card__action">
                                                       <button class="common-button">Order Now</button>
                                                       <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                                                  </div>
                                             </a>
                                             <div class="card__body">
                                                  <h2 class="card__title"><a href="./html/single-page.html">Women's black vest Gucci</a></h2>
                                                  <p class="price">NRS 375</p>
                                                  <p class="text-muted">last ordered 3m ago</p>
                                                  <div class="progress">
                                                       <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                                                  </div>
                                                  <p class="para"><b>250 ordered</b> of 300</p>
                                                  
                                             </div>
                                        </div>
                                   </article>
                                   <article class="col-6 col-xl-4 ">
                                        <div class="card">
                                             <a href="./single-page.html" class="card__img">
                                                  <img src="../img/product02.png"/>
                                                  <label class="tag">45% 0ff</label>
                                                  <div class="card__action">
                                                       <button class="common-button">Order Now</button>
                                                       <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                                                  </div>
                                             </a>
                                             <div class="card__body">
                                                  <h2 class="card__title"><a href="./html/single-page.html">Women's black vest Gucci</a></h2>
                                                  <p class="price">NRS 375</p>
                                                  <p class="text-muted">last ordered 3m ago</p>
                                                  <div class="progress">
                                                       <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                                                  </div>
                                                  <p class="para"><b>250 ordered</b> of 300</p>
                                                  
                                             </div>
                                        </div>
                                   </article>
                                   <article class="col-6 col-xl-4 ">
                                        <div class="card">
                                             <a href="./single-page.html" class="card__img">
                                                  <img src="../img/product03.png"/>
                                                  <label class="tag">45% 0ff</label>
                                                  <div class="card__action">
                                                       <button class="common-button">Order Now</button>
                                                       <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                                                  </div>
                                             </a>
                                             <div class="card__body">
                                                  <h2 class="card__title"><a href="./html/single-page.html">Women's black vest Gucci</a></h2>
                                                  <p class="price">NRS 375</p>
                                                  <p class="text-muted">last ordered 3m ago</p>
                                                  <div class="progress">
                                                       <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                                                  </div>
                                                  <p class="para"><b>250 ordered</b> of 300</p>
                                                  
                                             </div>
                                        </div>
                                   </article>
                                   <article class="col-6 col-xl-4 ">
                                        <div class="card">
                                             <a href="./single-page.html" class="card__img">
                                                  <img src="../img/product01.png"/>
                                                  <label class="tag">45% 0ff</label>
                                                  <div class="card__action">
                                                       <button class="common-button">Order Now</button>
                                                       <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                                                  </div>
                                             </a>
                                             <div class="card__body">
                                                  <h2 class="card__title"><a href="./html/single-page.html">Women's black vest Gucci</a></h2>
                                                  <p class="price">NRS 375</p>
                                                  <p class="text-muted">last ordered 3m ago</p>
                                                  <div class="progress">
                                                       <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                                                  </div>
                                                  <p class="para"><b>250 ordered</b> of 300</p>
                                                  
                                             </div>
                                        </div>
                                   </article>
                                   <article class="col-6 col-xl-4 ">
                                        <div class="card">
                                             <a href="./single-page.html" class="card__img">
                                                  <img src="../img/product02.png"/>
                                                  <label class="tag">45% 0ff</label>
                                                  <div class="card__action">
                                                       <button class="common-button">Order Now</button>
                                                       <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                                                  </div>
                                             </a>
                                             <div class="card__body">
                                                  <h2 class="card__title"><a href="./html/single-page.html">Women's black vest Gucci</a></h2>
                                                  <p class="price">NRS 375</p>
                                                  <p class="text-muted">last ordered 3m ago</p>
                                                  <div class="progress">
                                                       <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                                                  </div>
                                                  <p class="para"><b>250 ordered</b> of 300</p>
                                                  
                                             </div>
                                        </div>
                                   </article>
                                   <article class="col-6 col-xl-4 ">
                                        <div class="card">
                                             <a href="./single-page.html" class="card__img">
                                                  <img src="../img/product02.png"/>
                                                  <label class="tag">45% 0ff</label>
                                                  <div class="card__action">
                                                       <button class="common-button">Order Now</button>
                                                       <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                                                  </div>
                                             </a>
                                             <div class="card__body">
                                                  <h2 class="card__title"><a href="./html/single-page.html">Women's black vest Gucci</a></h2>
                                                  <p class="price">NRS 375</p>
                                                  <p class="text-muted">last ordered 3m ago</p>
                                                  <div class="progress">
                                                       <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                                                  </div>
                                                  <p class="para"><b>250 ordered</b> of 300</p>
                                                  
                                             </div>
                                        </div>
                                   </article>
                              </div>
                              <div class="row">
                                   <article class="col-6 col-xl-4  ">
                                        <div class="ssc ssc-card" style="max-width: 300px; margin-right: 16px">
                                             <div class="ssc-wrapper">
                                                  <div class="ssc-square mb"></div>
                                                  <div class="w-40">
                                                       <div class="ssc-line w-70"></div>
                                                       <div class="ssc-line w-100"></div>
                                                  </div>
                                             </div>
                                             <div class="ssc-wrapper">
                                                  <div class="ssc-line w-90"></div>
                                                  <div class="ssc-line w-30"></div>
                                                  <div class="ssc-line w-70"></div>
                                                  <div class="ssc-line w-50"></div>
                                             </div>
                                             
                                        </div>
                                   </article>
                                   <article class="col-6 col-xl-4  ">
                                        <div class="ssc ssc-card" style="max-width: 300px; margin-right: 16px">
                                             <div class="ssc-wrapper">
                                                  <div class="ssc-square mb"></div>
                                                  <div class="w-40">
                                                       <div class="ssc-line w-70"></div>
                                                       <div class="ssc-line w-100"></div>
                                                  </div>
                                             </div>
                                             <div class="ssc-wrapper">
                                                  <div class="ssc-line w-90"></div>
                                                  <div class="ssc-line w-30"></div>
                                                  <div class="ssc-line w-70"></div>
                                                  <div class="ssc-line w-50"></div>
                                             </div>
                                             
                                        </div>
                                   </article>
                                   <article class="col-6 col-xl-4  ">
                                        <div class="ssc ssc-card" style="max-width: 300px; margin-right: 16px">
                                             <div class="ssc-wrapper">
                                                  <div class="ssc-square mb"></div>
                                                  <div class="w-40">
                                                       <div class="ssc-line w-70"></div>
                                                       <div class="ssc-line w-100"></div>
                                                  </div>
                                             </div>
                                             <div class="ssc-wrapper">
                                                  <div class="ssc-line w-90"></div>
                                                  <div class="ssc-line w-30"></div>
                                                  <div class="ssc-line w-70"></div>
                                                  <div class="ssc-line w-50"></div>
                                             </div>
                                             
                                        </div>
                                   </article>
                                   
                                   
                              </div>
                         </section>    
                    </div>
                    
               </div>
               
          </main>
     </div>
     {% endblock %} 