{% extends 'layout/_layout.twig' %} {% block title %} Aranikomart- Home {%
  endblock %} {% block javascripts %} {% endblock %} {% block contents %}
  <main class="main home-page">
    <section class="home-screen">
      <div class="single--carousel common--arrows common--dots ">
        <article>
          <a href="#!">
            <img  src="../img/banner01.png"/>
          </a>
        </article>
        <article>
          
          <a href="#!">
            <img  src="../img/banner02.png"/>
          </a>
        </article>
        <article>
          
          <a href="#!">
            <img  src="../img/banner03.png"/>
          </a>
        </article>
        
      </div>
    </section>
    <section class="collections">
      <div class="wrapper common-padding">
        <div class="grid">
          <article class="card">
            <a href="#!">
              <h2 class="title--section text--white">New <br /> Arrivals</h2>
              <label class="tag text--white">Popular</label>
              <img src="../img/collection01.png" alt="new arrivals" class="card__img" />
            </a>
          </article>
          <article class="card">
            <a href="#!">
              <label class="tag">23 products</label>
              <h2 class="title--section mb-0">Ready-to-ship  </h2>
            </a>
          </article>
          <article class="card">
            <a href="#!">
              <label class="tag text--white">New</label>
              <h2 class="title--section mb-0 text--white">Dresess  </h2>
              <img src="../img/collection02.png" alt="new arrivals" class="card__img" />
            </a>
          </article>
          <article class="card">
            <a href="#!">
              <label class="tag text--white">New</label>
              <h2 class="title--section mb-0 text--white">Damin Jackets  </h2>
              <img src="../img/collection03.png" alt="new arrivals" class="card__img" />
            </a>
          </article>
        </div>
      </div>
      
    </section>
    <section class="newarrivals">
      <div class="wrapper commonpadding">
        <h2 class="title--section">New Arrivals</h2>
        <div class="carousel common--arrows common--dots ">
          <article >
            <a class="card" href="./html/single-page">
              <div class="card__img">
                <img src="../img/Bitmap-0.png" />
              </div>
              <p class="price">Nrs 500 </p>
              <h2 class="card__title">Louis Vouiton</h2>
            </a>
          </article>
          <article >
            <a class="card" href="./html/single-page">
              <div class="card__img">
                <img src="../img/Bitmap-1.png" />
              </div>
              <p class="price">Nrs 400 <del class="text-muted  small">800</del></p>
              <h2 class="card__title">Dolce&Gabbana</h2>
            </a>
          </article>
          <article >
            <a class="card" href="./html/single-page">
              <div class="card__img">
                <img src="../img/Bitmap-2.png" />
              </div>
              <p class="price">Nrs 5000 </p>
              <h2 class="card__title">Gucci</h2>
            </a>
          </article>
          <article >
            <a class="card" href="./html/single-page">
              <div class="card__img">
                <img src="../img/Bitmap-3.png" />
              </div>
              <p class="price">Nrs 1500 </p>
              <h2 class="card__title">Dries van Noten</h2>
            </a>
          </article>
          <article >
            <a class="card" href="./html/single-page">
              <div class="card__img">
                <img src="../img/Bitmap-3.png" />
              </div>
              <p class="price">Nrs 500 </p>
              <h2 class="card__title">Louis Vouiton</h2>
            </a>
          </article>
          <article >
            <a class="card" href="./html/single-page">
              <div class="card__img">
                <img src="../img/Bitmap-3.png" />
              </div>
              <p class="price">Nrs 500 </p>
              <h2 class="card__title">Louis Vouiton</h2>
            </a>
          </article>
        </div>
      </div>
    </section>
    <section class="product">
      <div class="wrapper commonpadding">
        <h2 class="title--section">Just for you</h2>
        <div class="row">
          <article class="col-md-4 col-lg-3">
            <div class="card">
              <div class="card__img">
                <img src="../img/product01.png"/>
                <label class="tag">45% 0ff</label>
                <div class="card__action">
                      <button class="common-button">Order Now</button>
                      <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                  </div>
              </div>
              <div class="card__body">
                  <h2 class="card__title"><a href="./html/single-page.html">Women's black vest Gucci</a></h2>
                  <p class="price">NRS 375</p>
                  <p class="text-muted">last ordered 3m ago</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                  </div>
                  <p class="para"><b>250 ordered</b> of 300</p>
                  
              </div>
            </div>
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="card">
              <div class="card__img">
                <img src="../img/product02.png"/>
                <label class="tag">Popular</label>
                <div class="card__action">
                      <button class="common-button">Order Now</button>
                      <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                  </div>
              </div>
              <div class="card__body">
                  <h2 class="card__title"><a href="./html/single-page.html">Red dress 
Valentino</a></h2>
                  <p class="price">NRS 1650</p>
                  <p class="text-muted">last ordered 30m ago</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%"></div>
                  </div>
                  <p class="para"><b>25 ordered</b> of 100</p>
                  
              </div>
            </div>
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="card">
              <div class="card__img">
                <img src="../img/product03.png"/>
                <label class="tag">last 10 Left</label>
                <div class="card__action">
                      <button class="common-button">Order Now</button>
                      <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                  </div>
              </div>
              <div class="card__body">
                  <h2 class="card__title"><a href="./html/single-page.html">Shiny dress Givenchy</a></h2>
                  <p class="price">NRS 750</p>
                  <p class="text-muted">last ordered 36m ago</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 95%"></div>
                  </div>
                  <p class="para"><b>190 ordered</b> of 200</p>
                  
              </div>
            </div>
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="card">
              <div class="card__img">
                <img src="../img/product01.png"/>
                <label class="tag">45% 0ff</label>
                <div class="card__action">
                      <button class="common-button">Order Now</button>
                      <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                  </div>
              </div>
              <div class="card__body">
                  <h2 class="card__title"><a href="./html/single-page.html">Women's black vest Gucci</a></h2>
                  <p class="price">NRS 375</p>
                  <p class="text-muted">last ordered 3m ago</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                  </div>
                  <p class="para"><b>250 ordered</b> of 300</p>
                  
              </div>
            </div>
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="card">
              <div class="card__img">
                <img src="../img/product02.png"/>
                <label class="tag">45% 0ff</label>
                <div class="card__action">
                      <button class="common-button">Order Now</button>
                      <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                  </div>
              </div>
              <div class="card__body">
                  <h2 class="card__title"><a href="./html/single-page.html">Women's black vest Gucci</a></h2>
                  <p class="price">NRS 375</p>
                  <p class="text-muted">last ordered 3m ago</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                  </div>
                  <p class="para"><b>250 ordered</b> of 300</p>
                  
              </div>
            </div>
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="card">
              <div class="card__img">
                <img src="../img/product03.png"/>
                <label class="tag">45% 0ff</label>
                <div class="card__action">
                      <button class="common-button">Order Now</button>
                      <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                  </div>
              </div>
              <div class="card__body">
                  <h2 class="card__title"><a href="./html/single-page.html">Women's black vest Gucci</a></h2>
                  <p class="price">NRS 375</p>
                  <p class="text-muted">last ordered 3m ago</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                  </div>
                  <p class="para"><b>250 ordered</b> of 300</p>
                  
              </div>
            </div>
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="card">
              <div class="card__img">
                <img src="../img/product01.png"/>
                <label class="tag">45% 0ff</label>
                <div class="card__action">
                      <button class="common-button">Order Now</button>
                      <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                  </div>
              </div>
              <div class="card__body">
                  <h2 class="card__title"><a href="./html/single-page.html">Women's black vest Gucci</a></h2>
                  <p class="price">NRS 375</p>
                  <p class="text-muted">last ordered 3m ago</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                  </div>
                  <p class="para"><b>250 ordered</b> of 300</p>
                  
              </div>
            </div>
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="card">
              <div class="card__img">
                <img src="../img/product02.png"/>
                <label class="tag">45% 0ff</label>
                <div class="card__action">
                      <button class="common-button">Order Now</button>
                      <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                  </div>
              </div>
              <div class="card__body">
                  <h2 class="card__title"><a href="./html/single-page.html">Women's black vest Gucci</a></h2>
                  <p class="price">NRS 375</p>
                  <p class="text-muted">last ordered 3m ago</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                  </div>
                  <p class="para"><b>250 ordered</b> of 300</p>
                  
              </div>
            </div>
          </article>
        </div>
        <div class="row">
          <article class="col-md-4 col-lg-3">
            <div class="ssc ssc-card" style="max-width: 300px; margin-right: 16px">
                <div class="ssc-wrapper">
                    <div class="ssc-square mb"></div>
                        <div class="w-40">
                            <div class="ssc-line w-70"></div>
                            <div class="ssc-line w-100"></div>
                        </div>
                </div>
                <div class="ssc-wrapper">
                    <div class="ssc-line w-90"></div>
                    <div class="ssc-line w-30"></div>
                    <div class="ssc-line w-70"></div>
                    <div class="ssc-line w-50"></div>
                </div>
               
            </div>
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="ssc ssc-card" style="max-width: 300px; margin-right: 16px">
                <div class="ssc-wrapper">
                    <div class="ssc-square mb"></div>
                        <div class="w-40">
                            <div class="ssc-line w-70"></div>
                            <div class="ssc-line w-100"></div>
                        </div>
                </div>
                <div class="ssc-wrapper">
                    <div class="ssc-line w-90"></div>
                    <div class="ssc-line w-30"></div>
                    <div class="ssc-line w-70"></div>
                    <div class="ssc-line w-50"></div>
                </div>
               
            </div>
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="ssc ssc-card" style="max-width: 300px; margin-right: 16px">
                <div class="ssc-wrapper">
                    <div class="ssc-square mb"></div>
                        <div class="w-40">
                            <div class="ssc-line w-70"></div>
                            <div class="ssc-line w-100"></div>
                        </div>
                </div>
                <div class="ssc-wrapper">
                    <div class="ssc-line w-90"></div>
                    <div class="ssc-line w-30"></div>
                    <div class="ssc-line w-70"></div>
                    <div class="ssc-line w-50"></div>
                </div>
               
            </div>
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="ssc ssc-card" style="max-width: 300px; margin-right: 16px">
                <div class="ssc-wrapper">
                    <div class="ssc-square mb"></div>
                        <div class="w-40">
                            <div class="ssc-line w-70"></div>
                            <div class="ssc-line w-100"></div>
                        </div>
                </div>
                <div class="ssc-wrapper">
                    <div class="ssc-line w-90"></div>
                    <div class="ssc-line w-30"></div>
                    <div class="ssc-line w-70"></div>
                    <div class="ssc-line w-50"></div>
                </div>
               
            </div>
          </article>

        </div>
      </div>
    </section>
    
  </main>
</div>
{% endblock %}