{% extends 'layout/_layout.twig' %} {% block title %} Aranikomart- single-page {%
     endblock %}
     <meta property="og:title" content="Black Valentino dress with tulle - Aranikomart" />
     <meta property="og:description" content="Black Valentino dress with tulle - Aranikomart" />
     <meta property="og:image" content="../img/product_image01.png" />
     {% block javascripts %} {% endblock %} {% block contents %}
     <main class="main single-page">
          <div class="wrapper commonpadding">
               <div class="row">
                    <div class="col-lg-7">
                         <div class="card card--description">
                              <h2 class="title--section">Black Valentino dress with tulle </h2>
                              <div class="carousel common--arrows dark">
                                   <div class="slider-for">
                                        <div class="image">
                                             <a href="../img/product_image01.png" data-lightbox="image-1" data-title="My caption">
                                                  <img src="../img/product_image01.png" />
                                             </a>
                                        </div>
                                        <div class="image">
                                             <img src="../img/product_image02.png" />
                                        </div>
                                        <div class="image">
                                             <img src="../img/product_image03.png" />
                                        </div>
                                        <div class="image">
                                             <img src="../img/product_image04.png" />
                                        </div>
                                   </div>
                                   <div class="slider-nav">
                                        <div class="image">
                                             <img src="../img/product_image01.png" />
                                        </div>
                                        <div class="image">
                                             <img src="../img/product_image02.png" />
                                        </div>
                                        <div class="image">
                                             <img src="../img/product_image03.png" />
                                        </div>
                                        <div class="image">
                                             <img src="../img/product_image04.png" />
                                        </div>
                                   </div>
                              </div>   
                              <p class="para">
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos totam ex, at excepturi reiciendis officia commodi qui quaerat quisquam numquam maiores inventore in enim quibusdam obcaecati minima corporis sapiente voluptas.
                              </p>
                              
                              <div class="accordion accordion-flush" id="accordionExample">
                                   <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                             <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                  Product Details
                                             </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                             <div class="accordion-body">
                                                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                             </div>
                                        </div>
                                   </div>
                                   <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                             <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                  Care
                                             </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                             <div class="accordion-body">
                                                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                             </div>
                                        </div>
                                   </div>
                                   <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                             <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                  Delivery and Return
                                             </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                             <div class="accordion-body">
                                                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              
                         </div>
                         <div class="comment--section">
                              <h2 class="title--md">Comments</h2>
                              <div class="comments--card card">
                                   <div class="comments__top">
                                        <h2 class="card__title">Jeevan dai</h2> 
                                        <time>2021/10/10</time>
                                   </div>
                                   <div class="comments__body">
                                        <p class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, nihil perspiciatis ab omnis minima ipsa laudantium dicta a molestias ducimus.</p>
                                   </div>
                              </div>
                              <div class="comments--card card">
                                   <div class="comments__top">
                                        <h2 class="card__title">Jeevan dai</h2> 
                                        <time>2021/10/10</time>
                                   </div>
                                   <div class="comments__body">
                                        <p class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, nihil perspiciatis ab omnis minima ipsa laudantium dicta a molestias ducimus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, nihil perspiciatis ab omnis minima ipsa laudantium dicta a molestias ducimus.</p>
                                        <a class="link readmore" href="#!">Read More</a>
                                   </div>
                              </div>
                              <div class="comments--card card">
                                   <form >
                                        <div class="form-group">
                                             <textarea class="form-control" placeholder="Write your question"></textarea>
                                        </div>
                                        <button class="common-button" type="submit">submit</button>
                                   </form>
                                   
                              </div>
                         </div>
                    </div>
                    <div class="col-lg-5">
                         <div class="sticky">
                              <div class="card card--main">
                                   <div class="card__body">
                                        <h2 class="price card__title">NRS 375</h2>
                                        <p class="para"><b>250 ordered</b> of 300</p>
                                        
                                        <div class="progress">
                                             <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                                        </div>
                                        <form class="form">
                                             <div class="select">
                                                  <p class="text-muted small">select color</p>
                                                  <div class="row">
                                                       <div class="form-group ">
                                                            <input class="form-check-input input--img" type="radio" name="payment" value="" id="color1" checked>
                                                            <label class="form-check-label " for="color1" style="background-color: red;"></label>
                                                       </div>
                                                       
                                                       <div class="form-group ">
                                                            <input class="form-check-input input--img" type="radio" name="payment" value="" id="color2">
                                                            <label class="form-check-label " for="color2" style="background-color: purple;"></label>
                                                       </div>
                                                       <div class="form-group ">
                                                            <input class="form-check-input input--img" type="radio" name="payment" value="" id="color3">
                                                            <label class="form-check-label " for="color3" style="background-color: grey;"></label>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="select" style="max-width: 100px;">
                                                  <p class="text-muted small">Select Size</p>
                                                  <select class="form-select" aria-label="Default select example">
                                                       <option value="0">SM</option>
                                                       <option value="1" selected>M</option>
                                                       <option value="2">L</option>
                                                       <option value="3">XL</option>
                                                  </select>
                                             </div>
                                             <div class="add-cart">
                                                  <p class="text-muted small">*you can add upto 5</p>
                                                  <div class="wrapper">
                                                       <a href="#!" id="minus" class="minus dec disabled">
                                                            <i class="bi bi-dash-lg"></i>
                                                       </a>
                                                       <input id="qty" type="number" readonly value="1" min="1" max="5" class="qty">
                                                       <a href="#!" id="plus" class="minus inc">
                                                            <i class="bi bi-plus-lg"></i>
                                                       </a>
                                                  </div>
                                                  
                                             </div>
                                             
                                             <div class="card__action">
                                                  <button class="common-button active">Order Now</button>
                                                  <button class="add-to-cart"><i class="bi bi-cart2"></i></button>
                                             </div>
                                             <div class="share social--media ">
                                                  <span>Share</span>
                                                  <a href="#!" class="link"><i class="bi bi-facebook"></i></a>
                                             </div>
                                        </form>
                                        
                                        <p class="text-muted">last ordered 3m ago</p>
                                        
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <section class="newarrivals">
                    <div class="">
                         <h2 class="title--md">You might also like</h2>
                         <div class="carousel common--arrows hide--dots ">
                              <article >
                                   <a class="card" href="./html/single-page">
                                        <div class="card__img">
                                             <img src="../img/Bitmap-0.png" />
                                        </div>
                                        <p class="price">Nrs 500 </p>
                                        <h2 class="card__title">Louis Vouiton</h2>
                                   </a>
                              </article>
                              <article >
                                   <a class="card" href="./html/single-page">
                                        <div class="card__img">
                                             <img src="../img/Bitmap-1.png" />
                                        </div>
                                        <p class="price">Nrs 400 <del class="text-muted  small">800</del></p>
                                        <h2 class="card__title">Dolce&Gabbana</h2>
                                   </a>
                              </article>
                              <article >
                                   <a class="card" href="./html/single-page">
                                        <div class="card__img">
                                             <img src="../img/Bitmap-2.png" />
                                        </div>
                                        <p class="price">Nrs 5000 </p>
                                        <h2 class="card__title">Gucci</h2>
                                   </a>
                              </article>
                              <article >
                                   <a class="card" href="./html/single-page">
                                        <div class="card__img">
                                             <img src="../img/Bitmap-3.png" />
                                        </div>
                                        <p class="price">Nrs 1500 </p>
                                        <h2 class="card__title">Dries van Noten</h2>
                                   </a>
                              </article>
                              <article >
                                   <a class="card" href="./html/single-page">
                                        <div class="card__img">
                                             <img src="../img/Bitmap-3.png" />
                                        </div>
                                        <p class="price">Nrs 500 </p>
                                        <h2 class="card__title">Louis Vouiton</h2>
                                   </a>
                              </article>
                              <article >
                                   <a class="card" href="./html/single-page">
                                        <div class="card__img">
                                             <img src="../img/Bitmap-3.png" />
                                        </div>
                                        <p class="price">Nrs 500 </p>
                                        <h2 class="card__title">Louis Vouiton</h2>
                                   </a>
                              </article>
                         </div>
                    </div>
               </section>
          </div>
          
     </main>
</div>
{% endblock %}     