// fontsize definitions
$font-xl: 2.4em;
$font-lg: 1.3em;
$font-md: 1em;
$font-sm: 0.9em;
// $font-xs: ;
// $font-xxs: 12px;
// $font-xxxs: 10px;
$font-lineheight-xl: 36px;
$font-lineheight-lg: 30px;
$font-lineheight-md: 28px;
$font-lineheight-sm: 24px;
$font-lineheight-xs: 21px;
$font-lineheight-xxs: 18px;
$font-lineheight-xxxs: 15px;
