*,
*::after,
*::before {
  box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
hr {
  margin: 25px 0;
  background-color: var(--white--grey);
  opacity: 1;
}

body {
  font-size: 1em;
  font-family: "fontName", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  color: var(--black);
}
